* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #f1f1f1;
}

nav {
    line-height: 40px;
    width: 100%;
    background-color:#0c2340;
    margin: auto;
    position: fixed;
    color: white;
    border-bottom: 2px solid rgb(117, 117, 117);
    text-align: center;
    vertical-align: middle;
    
}


nav span {
    padding-right: 80px;
    font-size: 20px;
    font-style: italic;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);



}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);

    
}
