p {
    margin: auto;
    width: auto;
    text-align: center;
    margin-bottom: 20px;
    color: rgba(73, 73, 73, 0.438);
    
}

table {
    margin:auto;
    width: 100%;
}

td {
    padding: 10px;
    border-bottom:1px solid rgba(128, 128, 128, 0.342);
    text-align: center;
}



.col1 {
    width: auto;
    border-right: 1px solid rgba(128, 128, 128, 0.342);
}

.col2 {
    width: auto;
    min-width: 200px;
    border-right: 1px solid rgba(128, 128, 128, 0.342);
}

.col3 {
    width: auto;
    border-right: 1px solid rgba(128, 128, 128, 0.342);
}

.col4 {
    width: auto;
}

.header{
    text-align: center;
    font-weight: bold;
}

input {
    margin-left: 10px;
}

