#eventpicture {
    text-align: center;
    
}
img {
    max-width: 100%;
    height: auto;
    max-height: 400px;
    margin-bottom: 30px;
    box-shadow: 10px 10px 10px grey;
}

table {
    text-align: justify;
}

td {
    padding: 10px;
    border-bottom:1px solid rgba(128, 128, 128, 0.342);
}

.col1 {
    width: 25%;
    text-align: left;
    vertical-align: top;
    font-weight: bold;
}

.col2 {
    width: auto;
    vertical-align: top;
    font-weight: bold;
}

.col3 {
    width: auto;
}


#submitform {
    text-align: center;
}

label, #eventid {
    visibility: hidden;
}